body{
    color: #ffffff;
}
a:focus, a:hover {
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: none;
}
.home{
    background: linear-gradient(135deg, #32d1ac 0%, #4a90e2 100%);
    padding: 30px 0 34px;
    margin-bottom: 40px;
}
.home-links{
    text-align: right;
    padding-top: 5px;
}
.home-title{
    font-size: 25px;
    color: #ffffff;
}
.home-title:hover{

}
.login{
    color: #fff;
    opacity: 0.75;
    padding: 9px 16px;
    border-radius: 4px;
    transition: all 0.1s linear;
    font-size: 15px;
    margin-left: 12px;
    font-weight: 600;
}
.login:hover{
    background-color:#337ab7;
    color: #fff;
}
.signup{
    color: #fff;
    padding: 9px 16px;
    border-radius: 4px;
    transition: all 0.1s linear;
    font-size: 15px;
    margin-left: 12px;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 1 !important;
}
.signup:hover{
    background-color: #32d1ac;
    color: #fff;
}

.footer-con{
    text-align: center;
    color: #0f0f0f;
}
.home-main label{
    color: #999999;
}
.home-main{
    margin-bottom: 100px;
}
.login-title{
    color: #101010;
    margin-bottom: 20px;
    font-size: 20px;
}